---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import TechStack from '../components/TechStack';
import Projects from '../components/Projects';
import Contact from '../components/Contact';
import Footer from '../components/Footer';
import Loader from '../components/Loader';
import Navbar from '../components/Navbar';
---

<Layout title="WIORMIW | Backend Developer">
  <main>
    <Loader client:load />
    
    <Navbar client:load />

    <Hero client:load />
    <TechStack client:visible />
    <Projects client:visible />
    <Contact client:visible />
    <Footer client:visible />
  </main>
</Layout>
